#logo-Name{
    font-size: 33px;
    font-weight: 100px;
    color: rgb(66, 226, 186);
}

#gif{
    width: fit-content;
}
.invert{
    filter: invert(1);
}

@media only screen and (max-width: 1257px) {
    #Home{
      width: 70%;
    }
    }