@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Fruktur&family=Manrope:wght@200&family=Shadows+Into+Light&family=Urbanist:wght@200&display=swap");


body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

